.popup__flex {
  display: flex;
  flex-direction: column;
  min-width: 470px;
  align-items: left;
  justify-content: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 880px){
  .popup__flex {
    min-width: 282px;
    justify-content: space-between;
  }
}
