.popup__close {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  left: 102%;
  bottom: 12%;
  background: url('../../../images/Close.svg');
  width: 32px;
  height: 32px;
}

.popup__close:hover {
  background: url('../../../images/Closehover.svg');
}

@media screen and (max-width:320px) {
  .popup__close {
    left: 93%;
    bottom: 11%;
    width: 20px;
    height: 20px;
    background-size: contain;
    background: url('../../../images/CloseIcon320.svg')
  }
}

@media screen and (max-width:320px) {
  .popup__close:hover {
    left: 93%;
    bottom: 11%;
    width: 20px;
    height: 20px;
    background-size: contain;
    background: url('../../../images/CloseIconhover320.svg')
  }
}
