.popup__close {
  margin: 0;
  padding: 0;
  border: none;
  background: url('../../../images/Close.svg');
  width: 32px;
  height: 32px;
  cursor: pointer;
  align-self: end;

}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width:880px) {
  .popup__close {
    top: 27%;
    width: 20px;
    height: 20px;
    background-size: contain;
    background: url('../../../images/CloseIcon320.svg')
  }
}
