.profile__name {
  margin: 0;
  padding-right: 18px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .profile__name {
    padding-right: 10px;
    font-size: 27px;
    line-height: 33px;
  }
}
